body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #26a5ee;
    user-select: none;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg, 
    #03001e 0%, 
    #040e5d 30%,
    #1cb2c9 70%,
    #fdeff9 100% );
    padding: 40px/*em cima e embaixo*/ 60px/*direita esqueda*/;
}

h1 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 900;
}

h2 {
    color: #fff;
    position: absolute;
    padding-bottom: 30rem;
    font-weight: 900;
    font-size: xx-large;
    animation: animate 
    1.5s linear infinite;
}
@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1.7;
    }

    100% {
        opacity: 1;
    }
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.reset:focus{
    color: #111b88;
    background: linear-gradient(325deg, 
    #ad18ed 0%, 
    #6f7391 30%,
    #99e9b9 70%,
    #919191 100% );
 
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    justify-content: center;
    align-items: ;
}

.item{
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content:  "";
    position: absolute;
    inset: 0;
    background: #404040;
    /*opacity: 0.85;*/
    text-decoration: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after
{
    transform: rotateY(180deg);
}


    
@media (max-width: 600px) {
    h1{
        font-size: 20pt;
    }
    h2 {
        font-size: 14pt;
        padding-bottom: 24rem;
    }
    .container {
        padding: 20px/*em cima e embaixo*/ 40px/*direita esqueda*/;
    }

    .game {
        width: 320px;
        height: 320px;
    }

    .item {
        width: 60px;
        height: 60px;
    }
}

/**/
